[submodule "ext/autotest"]
	path = ext/autotest
	url = https://github.com/qix-/autotest.git
[submodule "ext/benchmark"]
	path = ext/benchmark
	url = https://github.com/google/benchmark.git
[submodule "ext/memswap"]
	path = ext/memswap
	url = https://github.com/qix-/memswap.git
